default:
    suites:
        default:
            contexts:
            - FeatureContext:
                  em: '@doctrine.orm.default_entity_manager'
                  userFixtures: '@App\DataFixtures\UserFixtures'
                  blogPostFixtures: '@App\DataFixtures\BlogPostFixtures'
                  commentFixtures: '@App\DataFixtures\CommentFixtures'
            - Behat\MinkExtension\Context\MinkContext
            - behatch:context:json

    extensions:
        Behat\Symfony2Extension:
            kernel:
                bootstrap: features/bootstrap/bootstrap.php
                class: App\Kernel
        Behatch\Extension: ~
        Behat\MinkExtension:
            base_url: 'http://127.0.0.1:8000'
            files_path: 'features/fixtures/files/'
            sessions:
                default:
                    symfony2: ~
