<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
        <p>
            No front end access,
            use <a href="http://localhost:4100">reactjs-redux for Front End</a>
            <i style="font-size: 0.8em;">(look README.md)</i>.
        </p>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
